<div class="p-3 bg-dark text-white">
  <div class="flexMain">
    <div class="flex1"></div>
    <div class="flex2 text-center">
      <div><strong>Your Journey Begins Here</strong></div>
    </div>
    <div class="flex1"></div>
  </div>
</div>
<div id="menuHolder">
  <div role="navigation" class="sticky-top border-bottom border-top" id="mainNavigation">
    <div class="flexMain">
      <div class="flex3 text-center" id="siteBrand">
        <div style="display: flex; font-size: 18px;">
          <a routerLink="home" class="nav-menu-item"><i class="fas fa-home me-3"></i>Home</a> 
          <a routerLink="products" class="nav-menu-item"><i class="fab fa-product-hunt me-3"></i>Products</a>
          <a routerLink="explore" class="nav-menu-item"><i class="fas fa-search me-3"></i>Explore</a>
          <a routerLink="services" class="nav-menu-item"><i class="fas fa-wrench me-3"></i>Services</a>
          <a routerLink="pricing" class="nav-menu-item"><i class="fas fa-dollar-sign me-3"></i>Pricing</a>
          <a routerLink="blog" class="nav-menu-item"><i class="fas fa-file-alt me-3"></i>Blog</a>
          <a routerLink="about-us" class="nav-menu-item"><i class="fas fa-building me-3"></i>About Us</a>
        </div>
      </div>
      
      <div class="flex2 text-end d-none d-md-block">
        <button routerLink="signup" class="whiteLink siteLink">REGISTER</button>
        <button routerLink="login" class="blackLink siteLink">Login</button>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
